body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h1{
    font-size: 50px;
    text-align-last: center;
}

.gone{
    display: none;
}

.invisible{
    visibility: hidden;
}

#example{
    border: black solid 2px;
    position: absolute;
    left: 1200px;
    top: 200px;
}

#form{
    border: black solid 5px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}

#chooseAmount{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

#chooseFonts{
    width: 100px;
    height: 30px;
}

#segoe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#arial {
    font-family: Arial, Helvetica, sans-serif;
}

#courier{
    font-family: 'Courier New', Courier, monospace;
}

#startGame{
    width: 200px;
    height: 60px;
    font-size: larger;
    font-weight: 1000;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

#startGame:hover{
    cursor: pointer;
    background-color: grey;
}

#deck{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    height: 80vh;
    width: 160vh;
    justify-content: space-evenly;
}

.card{
    margin-right: 2px;
    margin-left: 2px;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

#timer{
    margin-left: auto;
    margin-right: auto;
    display: grid;